/* =================================
      css for the hamburger 
===================================== */

.hamburger.active span:nth-child(1) {
	transform: translateY(0px) rotate(45deg);
	width: 80%;
}

.hamburger.active span:nth-child(2) {
	transform: translateY(0px) rotate(-45deg);
	width: 80%;
}

/* ---------------------Effects------------------- */

.glass-effect {
	background-color: rgba(209, 213, 209, 0.2);
	backdrop-filter: blur(12px);
}
